{% extends "base.html" %}
{% block content %}
<section id="box">
<h1>Archives for {{ SITENAME }}</h1>

<dl>
{% for article in dates %}
    <dt>{{ article.locale_date }}</dt>
    <dd> {{ article.title }} <a href="{{ SITEURL }}/{{ article.url }}">Permalink</a></dd>
    <br/>
{% endfor %}
</dl>

</section>
{% endblock %}
