/* August 2016 - Ana Guerrero Lopez <ana@debian.org> 
*/


@import url("reset.css");

h1 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
    font-family: tahoma,verdana,sans-serif;
}

hr { border: 2px solid #EEEEEE; }


a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: #C74350;
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	background-color: #C74350;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}

h1 a:hover {
    background-color: inherit
}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

div.line-block,
p { 
    margin-top: 1em;
    margin-bottom: 1em;
}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

ul {
	list-style: outside disc;
	margin: 0em 0 0 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 0em 0 0 1.5em;
}

li { margin-top: 0.5em;
     margin-bottom: 1em; }

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre{background-color:  rgb(238, 238, 238); padding: 10px; margin: 10px; overflow: auto;}

blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}

q {}

header, section, footer,
aside, nav, article, figure {
	display: block;
}


body {
    background: #F5F4EF;
    color: #000305;
    font-size: 87.5%;
    font-family: tahoma,verdana,sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}


/* Page Header */

#header {
    clear: both; 
    width: 800px;
    margin: 0 auto;
    padding: 2.5em 0 0 0;
}

#header h1 {
    font-size: 3em; 
    line-height: 0;
    color: #C74350;
    font-weight: bold;
}

#header h1 a:link, 
#header h1 a:visited {
    display: block;
    margin: 0 0 .6em .2em;
    text-decoration: none;
}

#header h1 a:hover, 
#header h1 a:active {
    background: none;
    color: #000;
    text-shadow: none;
}


#header nav {
    background: #C74350;
    font-size: 1.143em;
    height: 40px;
    line-height: 30px;
    margin: 0 auto 2em auto;
    padding: 0;
    text-align: center;
    width: 800px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#header nav ul {
    list-style: none; 
    margin: 0 auto; 
    width: 800px;
}

#header nav li {
    float: left; 
    display: inline; 
    margin: 0;
    font-weight: bold;
}

#header nav a:link, 
#header nav a:visited {
    color: #fff;
    display: inline-block;
    height: 30px;
    padding: 5px 1.5em;
    text-decoration: none;
}

#header nav a:hover, 
#header nav a:active,
#header nav .active a:link, 
#header nav .active a:visited {
    background: #000;
    color: #fff;
    text-shadow: none !important;
}


/* white rounded box */

#box {
    clear: both; 
    margin: 0 auto;
    background: #fff;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px 20px;
    width: 760px;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.dent {font-size: 2em; margin-bottom: 10px; margin-top: 0;}

.post-dent {
    float:right;
    margin:10px;
    padding:5px;
}

.permalink { float: right }

.paginator {
    clear: both; 
    margin: 0 auto; 
    width: 800px;
    padding-bottom: 2em; 
    text-align: right;
}

#footerinfo {
    clear: both; 
    margin: 0 auto; 
    width: 800px;
    padding-bottom: 2em; 
    text-align: right;
}


